.backgroundStyle{
  background-image: url('https://source.unsplash.com/1600x900/?formula-one,');
  width: 100vw;
  height: 100vh;
};

.tableBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #808080;
  background-color: #000000d0;
  color: #E8E8E8;
  margin: none;
  width: auto;
};

.selectDropdown{
  background: #000000d0;
  color: #E8E8E8;
  font-size: .75rem;
  font-weight: 300;
};

